@import 'variables';
@import 'typography';

.Client-Testimonials-Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    h2{
        font-family: "Fraunces";
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: center;
        color: $color-dark-grayish-blue;
        letter-spacing: 5px;
        padding: 8rem 0 6rem 0;
    }
}

.Client-Testimonials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto 0 auto;
    width: 80%;
}

.Client-Emily{

    h3{
        font-family: "Fraunces-Black";
        font-size: 1.17em;
        text-align: center;
    }
    
    p{
        width: 93%;
        margin: 0 auto 0 auto;
        font-family: "Barlow";
        font-weight: 600;
        font-size: 1.1em;
        color: $color-very-dark-grayish-blue;
        padding: 3rem 0 3rem 0;
        text-align: center;
        line-height: 2rem;
    }:nth-child(4){
        font-family: "Barlow";
        font-weight: 600;
        font-size: .9em;
        color: $color-grayish-blue;
        text-align: center;
        padding: .5rem;
    }
}

.client-img-emily{
    display: flex;
    width: 20%;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}

.Client-Thomas{

    h3{
        font-family: "Fraunces-Black";
        font-size: 1.17em;
        text-align: center;
    }
    
    p{
        width: 87%;
        margin: 0 auto 0 auto;
        font-family: "Barlow";
        font-weight: 600;
        font-size: 1.1em;
        color: $color-very-dark-grayish-blue;
        padding: 3rem 0 3rem 0;
        text-align: center;
        line-height: 2rem;
    }:nth-child(4){
        font-family: "Barlow";
        font-weight: 600;
        font-size: .9em;
        color: $color-grayish-blue;
        text-align: center;
        padding: .5rem;
    }
}

.client-img-thomas{
    display: flex;
    width: 18.8%;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}

.Client-Jennie{
    h3{
        font-family: "Fraunces-Black";
        font-size: 1.17em;
        text-align: center;
    }

    p{
        width: 100%;
        font-family: "Barlow";
        font-weight: 600;
        font-size: 1.1em;
        color: $color-very-dark-grayish-blue;
        padding: 3rem 0 3rem 0;
        text-align: center;
        line-height: 2rem;
        margin: 0 auto 0 auto;
    }:nth-child(4){
        font-family: "Barlow";
        font-weight: 600;
        font-size: .9em;
        color: $color-grayish-blue;
        padding: .5rem;
        text-align: center;
    }
}

.client-img-jennie{
    display: flex;
    width: 21.5%;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}