@font-face {
  font-family: "Barlow";
  src: url("../Assets/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../Assets/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Black";
  src: url("../Assets/fonts/Barlow-Black.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../Assets/fonts/Fraunces-Regular.ttf");
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url("../Assets/fonts/Fraunces-Bold.ttf");
}
@font-face {
  font-family: "Fraunces-Black";
  src: url("../Assets/fonts/Fraunces-Black.ttf");
}
.Client-Testimonials-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.Client-Testimonials-Container h2 {
  font-family: "Fraunces";
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  color: #818498;
  letter-spacing: 5px;
  padding: 8rem 0 6rem 0;
}

.Client-Testimonials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 80%;
}

.Client-Emily h3 {
  font-family: "Fraunces-Black";
  font-size: 1.17em;
  text-align: center;
}
.Client-Emily p {
  width: 93%;
  margin: 0 auto 0 auto;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.1em;
  color: #5a636c;
  padding: 3rem 0 3rem 0;
  text-align: center;
  line-height: 2rem;
}
.Client-Emily :nth-child(4) {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 0.9em;
  color: #a7abae;
  text-align: center;
  padding: 0.5rem;
}

.client-img-emily {
  display: flex;
  width: 20%;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

.Client-Thomas h3 {
  font-family: "Fraunces-Black";
  font-size: 1.17em;
  text-align: center;
}
.Client-Thomas p {
  width: 87%;
  margin: 0 auto 0 auto;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.1em;
  color: #5a636c;
  padding: 3rem 0 3rem 0;
  text-align: center;
  line-height: 2rem;
}
.Client-Thomas :nth-child(4) {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 0.9em;
  color: #a7abae;
  text-align: center;
  padding: 0.5rem;
}

.client-img-thomas {
  display: flex;
  width: 18.8%;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

.Client-Jennie h3 {
  font-family: "Fraunces-Black";
  font-size: 1.17em;
  text-align: center;
}
.Client-Jennie p {
  width: 100%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.1em;
  color: #5a636c;
  padding: 3rem 0 3rem 0;
  text-align: center;
  line-height: 2rem;
  margin: 0 auto 0 auto;
}
.Client-Jennie :nth-child(4) {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 0.9em;
  color: #a7abae;
  padding: 0.5rem;
  text-align: center;
}

.client-img-jennie {
  display: flex;
  width: 21.5%;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}