@import 'variables';
@import 'typography';

.header-wrapper{
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160vh;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    padding: 1rem;
}

.navbar{
    ul{
        padding: 1rem;

        li{
            display: inline;
            padding: 1.7rem;
            font-weight: 600;
            font-family: "Barlow";
            font-size: 1em;
            
            a{
                color: $color-white;
            }
        }

        li:last-of-type{
            a{
                background-color: $color-white;
                color: $color-black;
                border: none;
                border-radius: 50px 50px 50px 50px;
                text-transform: uppercase;
                font-family: "Fraunces";
                font-weight: 900;
                font-size: 1em;
                text-decoration: none;
                padding-top: 1rem;
                padding-bottom: 1rem;
                padding-left: 2rem;
                padding-right: 2rem;
    
                &:hover{
                    background-color: hsla(232, 10%, 55%, 0.26); // transparent blue
                    color:$color-white;
                    cursor: pointer;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 2rem;
                    padding-right: 2rem;
                    border-radius: 50px 50px 50px 50px;
                    text-transform: uppercase;
                    font-family: "Fraunces";
                }
            }
        }
    }
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 58%;

    h1{
        color: $color-white;
        font-family: "Fraunces-Black";
        font-size: 3.2em;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
}