@font-face {
  font-family: "Barlow";
  src: url("../Assets/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../Assets/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Black";
  src: url("../Assets/fonts/Barlow-Black.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../Assets/fonts/Fraunces-Regular.ttf");
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url("../Assets/fonts/Fraunces-Bold.ttf");
}
@font-face {
  font-family: "Fraunces-Black";
  src: url("../Assets/fonts/Fraunces-Black.ttf");
}