@font-face {
  font-family: "Barlow";
  src: url("../Assets/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../Assets/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Black";
  src: url("../Assets/fonts/Barlow-Black.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../Assets/fonts/Fraunces-Regular.ttf");
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url("../Assets/fonts/Fraunces-Bold.ttf");
}
@font-face {
  font-family: "Fraunces-Black";
  src: url("../Assets/fonts/Fraunces-Black.ttf");
}
@font-face {
  font-family: "Barlow";
  src: url("../Assets/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../Assets/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Black";
  src: url("../Assets/fonts/Barlow-Black.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../Assets/fonts/Fraunces-Regular.ttf");
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url("../Assets/fonts/Fraunces-Bold.ttf");
}
@font-face {
  font-family: "Fraunces-Black";
  src: url("../Assets/fonts/Fraunces-Black.ttf");
}
.header-wrapper {
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 160vh;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  padding: 1rem;
}

.navbar ul {
  padding: 1rem;
}
.navbar ul li {
  display: inline;
  padding: 1.7rem;
  color: white;
  font-weight: 600;
  font-family: "Barlow";
  font-size: 1em;
}
.navbar ul :nth-child(4) {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50px 50px 50px 50px;
  text-transform: uppercase;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 1em;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.navbar ul :nth-child(4):hover {
  background-color: rgba(129, 132, 152, 0.26);
  color: white;
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 50px 50px 50px 50px;
  text-transform: uppercase;
  font-family: "Fraunces";
}

.dropbtn {
  color: white;
  font-size: 1em;
  border: none;
  cursor: pointer;
  padding: 1.3rem;
}

.dropbtn:hover, .dropbtn:focus {
  background: #2980B9;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  width: 2.5em;
  height: 0.4em;
  border-top: 1em double white;
  border-bottom: 0.33em solid white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: white;
}

.show {
  display: block;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 58%;
}
.heading h1 {
  color: white;
  font-family: "Fraunces-Black";
  font-size: 3.2em;
  letter-spacing: 10px;
  text-transform: uppercase;
}

@font-face {
  font-family: "Barlow";
  src: url("../Assets/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../Assets/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Black";
  src: url("../Assets/fonts/Barlow-Black.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../Assets/fonts/Fraunces-Regular.ttf");
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url("../Assets/fonts/Fraunces-Bold.ttf");
}
@font-face {
  font-family: "Fraunces-Black";
  src: url("../Assets/fonts/Fraunces-Black.ttf");
}
.main-content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 210vh;
}

.text-section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.text-section-one h2 {
  font-family: "Fraunces-Black";
  font-size: 2.5em;
  text-align: left;
  width: 65%;
  padding: 1rem;
}
.text-section-one a {
  font-family: "Fraunces-Black";
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  color: black;
  margin-left: 8.5rem;
}
.text-section-one p {
  font-family: "Barlow";
  font-size: 1.1em;
  font-weight: 600;
  color: #a7abae;
  width: 70%;
  line-height: 1.8rem;
  padding: 1rem 0 2rem 1.8rem;
}

.text-section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}
.text-section-two h2 {
  font-family: "Fraunces-Black";
  font-size: 2.5em;
  text-align: left;
  width: 75%;
  padding-left: 1.7rem;
}
.text-section-two p {
  font-family: "Barlow";
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.8rem;
  color: #a7abae;
  width: 65%;
  padding: 2rem 0 2rem 0;
}
.text-section-two a {
  align-self: flex-start;
  font-family: "Fraunces-Black";
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  color: black;
  margin-left: 7.5rem;
}

.underline-one {
  position: relative;
  align-self: flex-start;
  padding-bottom: 5px;
  display: inline-block;
}

.underline-one::after {
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0.1em;
  content: "";
  width: 8em;
  background: rgba(250, 212, 0, 0.267);
  height: 0.5em;
  left: -0.4em;
}

.underline-one:hover::after {
  background: rgba(250, 212, 0, 0.904);
}

.underline-two {
  position: relative;
  align-self: flex-start;
  padding-bottom: 5px;
  display: inline-block;
}

.underline-two::after {
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: 0.1em;
  content: "";
  width: 8.1em;
  background: rgba(254, 120, 103, 0.267);
  height: 0.5em;
  left: -0.4em;
}

.underline-two:hover::after {
  background: rgba(254, 120, 103, 0.904);
}

.img-section-1 {
  width: 50%;
  height: 50%;
  background-image: url("../images/desktop/image-transform.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.img-section-2 {
  width: 50%;
  height: 50%;
  background-image: url("../images/desktop/image-stand-out.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.GD-section {
  display: flex;
  width: 50%;
  height: 55%;
  background-image: url("../images/desktop/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.GD-heading {
  text-align: center;
  font-family: "Fraunces-Black";
  font-size: 2em;
  padding: 1rem;
  color: #25564b;
}

.GD-section-text {
  height: 40%;
  padding: 1rem;
  margin: auto 0 0 0;
}
.GD-section-text p {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 1.2em;
  color: #25564b;
  line-height: 2rem;
  text-align: center;
  padding: 1rem;
  width: 70%;
  margin: 0 auto 0 auto;
}

.PG-section {
  display: flex;
  width: 50%;
  height: 55%;
  background-image: url("../images/desktop/image-photography.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.PG-heading {
  text-align: center;
  font-family: "Fraunces-Black";
  font-size: 2em;
  padding: 1rem;
  color: #19536b;
}

.PG-section-text {
  height: 40%;
  padding: 1rem;
  margin: auto 0 0 0;
}
.PG-section-text p {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 1.2em;
  color: #19536b;
  line-height: 2rem;
  text-align: center;
  padding: 1rem;
  width: 75%;
  margin: 0 auto 0 auto;
}

@font-face {
  font-family: "Barlow";
  src: url("../Assets/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../Assets/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Black";
  src: url("../Assets/fonts/Barlow-Black.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../Assets/fonts/Fraunces-Regular.ttf");
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url("../Assets/fonts/Fraunces-Bold.ttf");
}
@font-face {
  font-family: "Fraunces-Black";
  src: url("../Assets/fonts/Fraunces-Black.ttf");
}
.Client-Testimonials-Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120vh;
}
.Client-Testimonials-Container h2 {
  font-family: "Fraunces";
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  color: #818498;
  letter-spacing: 5px;
  padding: 8rem 0 6rem 0;
}

.Client-Testimonials {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 80%;
}

.Client-Emily h3 {
  font-family: "Fraunces-Black";
  font-size: 1.17em;
  text-align: center;
}
.Client-Emily p {
  width: 93%;
  margin: 0 auto 0 auto;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.1em;
  color: #5a636c;
  padding: 3rem 0 3rem 0;
  text-align: center;
  line-height: 2rem;
}
.Client-Emily :nth-child(4) {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 0.9em;
  color: #a7abae;
  text-align: center;
  padding: 0.5rem;
}

.client-img-emily {
  display: flex;
  width: 20%;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

.Client-Thomas h3 {
  font-family: "Fraunces-Black";
  font-size: 1.17em;
  text-align: center;
}
.Client-Thomas p {
  width: 87%;
  margin: 0 auto 0 auto;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.1em;
  color: #5a636c;
  padding: 3rem 0 3rem 0;
  text-align: center;
  line-height: 2rem;
}
.Client-Thomas :nth-child(4) {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 0.9em;
  color: #a7abae;
  text-align: center;
  padding: 0.5rem;
}

.client-img-thomas {
  display: flex;
  width: 18.8%;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

.Client-Jennie h3 {
  font-family: "Fraunces-Black";
  font-size: 1.17em;
  text-align: center;
}
.Client-Jennie p {
  width: 100%;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.1em;
  color: #5a636c;
  padding: 3rem 0 3rem 0;
  text-align: center;
  line-height: 2rem;
  margin: 0 auto 0 auto;
}
.Client-Jennie :nth-child(4) {
  font-family: "Barlow";
  font-weight: 600;
  font-size: 0.9em;
  color: #a7abae;
  padding: 0.5rem;
  text-align: center;
}

.client-img-jennie {
  display: flex;
  width: 21.5%;
  border-radius: 50%;
  margin: 0 auto 0 auto;
}

.img-gallery {
  display: flex;
  justify-content: space-evenly;
}
.img-gallery img {
  width: 25%;
}

@font-face {
  font-family: "Barlow";
  src: url("../Assets/fonts/Barlow-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Bold";
  src: url("../Assets/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "Barlow-Black";
  src: url("../Assets/fonts/Barlow-Black.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../Assets/fonts/Fraunces-Regular.ttf");
}
@font-face {
  font-family: "Fraunces-Bold";
  src: url("../Assets/fonts/Fraunces-Bold.ttf");
}
@font-face {
  font-family: "Fraunces-Black";
  src: url("../Assets/fonts/Fraunces-Black.ttf");
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65vh;
  background-color: #7abdb1;
}

.footer-heading {
  font-family: "Barlow-Black";
  font-size: 3vw;
  text-transform: lowercase;
  text-align: center;
  color: #25564b;
  padding-top: 5rem;
}

.navbar-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar-footer ul {
  padding: 3rem;
}
.navbar-footer ul li {
  display: inline;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 1.5vw;
  color: #458c7e;
  padding: 2rem;
}
.navbar-footer ul a {
  text-decoration: none;
  color: #458c7e;
}
.navbar-footer ul a:hover {
  color: white;
}

.social-links {
  text-align: center;
  padding: 3rem;
  letter-spacing: 2rem;
}
.social-links a:hover {
  cursor: pointer;
}
.social-links img:hover {
  cursor: pointer;
  filter: brightness(0) invert(1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 375px) {
  body .header-wrapper {
    background-image: url("../images/mobile/image-header.jpg");
    height: 95vh;
  }
  body .navbar {
    display: none;
  }
  body .dropdown {
    display: inline-block;
    padding-right: 1.5rem;
  }
  body .dropdown::before {
    border-top: 0.8em double white;
    border-bottom: 0.3em solid white;
    height: 0.3em;
    top: 0.6em;
  }
  body .dropdown-content {
    min-width: 104px;
  }
  body .dropdown-content::after {
    content: "";
    border-top: 100px solid transparent;
    border-left: 100px solid blue;
    position: absolute;
    right: -90px;
    top: 0;
    height: 0;
    width: 0;
  }
  body .heading {
    height: 63%;
  }
  body .heading h1 {
    font-size: 2.5em;
    letter-spacing: 5px;
    padding: 1rem 0 0 0;
    text-align: center;
  }
  body .main-content {
    height: 120vh;
  }
  body .text-section-one {
    order: 2;
    width: 100%;
    height: 55%;
  }
  body .text-section-one h2 {
    font-size: 2em;
    width: 99%;
    text-align: center;
  }
  body .text-section-one p {
    margin: 0 auto 0 auto;
    padding: 1rem 1rem 2rem 1rem;
    width: 98%;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5rem;
  }
  body .text-section-one a {
    font-size: 1em;
    margin-left: 8rem;
    text-align: center;
  }
  body .underline-one::after {
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0.2em;
    content: "";
    width: 8em;
    background: rgba(250, 212, 0, 0.267);
    height: 0.5em;
  }
  body .text-section-two {
    order: 3;
    width: 100%;
    height: 55%;
  }
  body .text-section-two h2 {
    font-size: 2em;
    width: 100%;
    text-align: center;
  }
  body .text-section-two p {
    margin: 0 auto 0 auto;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1.1em;
    width: 85%;
  }
  body .text-section-two a {
    font-size: 1em;
    text-align: center;
    margin-left: 8rem;
  }
  body .underline-two::after {
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: 0.2em;
    content: "";
    width: 8em;
    background: rgba(254, 120, 103, 0.267);
    height: 0.5em;
  }
  body .img-section-1 {
    order: 1;
    width: 100%;
    height: 50%;
  }
  body .img-section-2 {
    order: 3;
    width: 100%;
    height: 50%;
  }
  body .GD-section {
    order: 5;
    width: 100%;
    height: 90%;
  }
  body .GD-heading {
    font-size: 1.8em;
  }
  body .GD-section-text {
    padding: 0;
    height: 35%;
  }
  body .GD-section-text p {
    font-size: 1em;
    line-height: 1.5rem;
    width: 100%;
  }
  body .PG-section {
    order: 6;
    width: 100%;
    height: 90%;
  }
  body .PG-heading {
    font-size: 1.8rem;
  }
  body .PG-section-text {
    padding: 0;
    height: 35%;
  }
  body .PG-section-text p {
    font-size: 1em;
    line-height: 1.5rem;
    width: 100%;
  }
  body .Client-Testimonials-Container {
    order: 7;
    height: 195vh;
  }
  body .Client-Testimonials-Container h2 {
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 5px;
    padding: 3rem 0 3rem 0;
  }
  body .Client-Testimonials {
    flex-direction: column;
    width: 100%;
  }
  body .Client-Emily h3 {
    font-size: 1em;
    text-align: center;
  }
  body .Client-Emily p {
    font-size: 1.1em;
    width: 86%;
    margin: 0 auto 0 auto;
    padding: 2rem 0 2rem 0;
    line-height: 1.5rem;
  }
  body .Client-Emily :nth-child(4) {
    font-size: 0.8em;
    padding-bottom: 4rem;
  }
  body .Client-Thomas h3 {
    font-size: 1em;
    text-align: center;
  }
  body .Client-Thomas p {
    font-size: 1.1em;
    width: 85%;
    margin: 0 auto 0 auto;
    padding: 2rem 0 2rem 0;
    line-height: 1.5rem;
  }
  body .Client-Thomas :nth-child(4) {
    font-size: 0.8em;
    padding-bottom: 4rem;
  }
  body .Client-Jennie h3 {
    font-size: 1em;
    text-align: center;
  }
  body .Client-Jennie p {
    font-size: 1.1em;
    width: 88%;
    margin: 0 auto 0 auto;
    padding: 2rem 0 2rem 0;
    line-height: 1.5rem;
  }
  body .Client-Jennie :nth-child(4) {
    font-size: 0.8em;
    padding-bottom: 4rem;
  }
  body .img-gallery {
    order: 8;
    height: 60vh;
    flex-wrap: wrap;
  }
  body .img-gallery img {
    width: 50%;
    height: 50%;
  }
  body .milk {
    content: url("../images/mobile/image-gallery-milkbottles.jpg");
  }
  body .orange {
    content: url("../images/mobile/image-gallery-orange.jpg");
  }
  body .cone {
    content: url("../images/mobile/image-gallery-cone.jpg");
  }
  body .sugar {
    content: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
  body footer {
    height: 60vh;
    order: 9;
  }
  body .footer-heading {
    font-family: "Barlow-Black";
    padding: 4rem 0 2.5rem 0;
    font-size: 2.5em;
  }
  body .navbar-footer ul {
    padding: 0;
  }
  body .navbar-footer ul li {
    font-size: 1.1em;
    color: #458c7e;
    padding: 1.7rem;
  }
  body .social-links {
    padding-top: 5rem;
  }
}