@import 'variables';
@import 'typography';
@import 'header';
@import 'main-content';
@import 'client-testimonials';
@import 'img-gallery';
@import 'footer';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

